@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMASD Nomina</h1>
    <p class="lead">Este es una aplicacion web que realiza el proceso de automatizacion de pagos de nonina.
    nota: por el momento tiene funciones muy basicas </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nomina</h2>
        <p>
            Se puede buscar por departamento o por numero de empleado, se puede actulizar los datos de su tabulador y se registra los pagos hechos
        </p>
        <p><a class="btn btn-default" href="~/Home/Index">Ver mas  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>En la seccion de departamentos se muestra una lista de departamentos en la cual muestra a los empleados que pertenecen al departamento</p>
        <p><a class="btn btn-default" href="~/Departamento/Index">Ver mas  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleado</h2>
        <p>Se puede realizar busquedas de los empleados por su numero de empleado, se puede crear, actualizar o eliminar los datos del empleados </p>
        <p><a class="btn btn-default" href="~/Empleado/Index">Ver mas  &raquo;</a></p>
    </div>
</div>